div.mzsocial {
	position: fixed;
	background-color: #fff;
	background-position: right center;
	background-repeat: no-repeat;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	z-index: 1000;
}

	div.mzsocial:hover {
		-webkit-box-shadow: 0 0 20px #666;
		-moz-box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px #666;
	}
	
	div.mzsocial > div:first-of-type {
		padding: 10px 20px;
	}